
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/Contents/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="~/Contents/jquery-3.3.1.min.js"></script>

</head>
<body>
    <div>
    </div>
</body>
</html>
